/* .cards{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border: 4px;
    border-color:black;
    margin-top: 5vh;
    margin-left: 5vh;
} */