.flex {
  display: flex;
}

.border {
  border: 2px solid black;
  border-top: none;
}

.border_right {
  border-right: 2px solid black;
}

.half {
  width: 50%;
}

.normalPadding {
  padding: 30px;
}
