.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

.header_border {
  border: 2px solid black;
}

.border_right {
  border-right: 2px solid black;
}

.border_top {
  border-top: 2px solid black;
}

.half {
  width: 50%;
}

.padding {
  padding: 25px;
}

.inputMargin {
  margin-left: 10%;
}

.borderAllAround {
  border: 2px solid black;
}
